<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil - Agriplanner</title>
    <link rel="stylesheet" href="{{ asset('css/homepage.css') }}">
</head>


<div class="agriplanner-navbar">
    <div class="logo-agriplanner">
        <img src="{{ asset('images/logo.png') }}" alt="Logo">
    </div>
    <div class="nav-links">
        <div>
            <ul>
                <li><a href="{{ path('home') }}">Accueil</a></li>
                <li><a href="{{ path('produit') }}">Produit</a></li>
                <li>Services</li>
                <li>Comment ça fonctionne?</li>
                <li>Questions et réponses</li>
            </ul>
        </div>
        <div class="login-buttons" id="loginDiv" data-login-url="{{ path('app_loginpage') }}">
            Se connecter
        </div>
    </div>
</div>