{% extends 'base.html.twig' %}

{% block title %}Create New Message Reclamation{% endblock %}

{% block body %}
    <h1>Create New Message Reclamation</h1>

    {{ form_start(form) }}
        {{ form_row(form.contenu) }}
        {{ form_row(form.dateMessage) }}
        {{ form_row(form.reclamation) }}

        
    {{ form_end(form) }}

    <a href="{{ path('message_reclamation_index') }}">Back to List</a>
{% endblock %}