{# templates/message_reclamation/show.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Message Reclamation Details{% endblock %}

{% block body %}
    <div class="message-reclamation-container">
        <h1>Message Reclamation Details</h1>

        <p><strong>ID:</strong> {{ messageReclamation.id }}</p>
        <p><strong>Content:</strong> {{ messageReclamation.contenu }}</p>
        <p><strong>Date of Message:</strong> {{ messageReclamation.dateMessage|date('Y-m-d H:i:s') }}</p>
        <p><strong>Reclamation ID:</strong> {{ messageReclamation.reclamation.id }}</p>

        <a href="{{ path('message_reclamation_index') }}">Back to List</a>
    </div>
{% endblock %}
