<head>
    <link rel="stylesheet" href="{{ asset('css/ajoutProduit.css') }}">
    <link href="{{ asset('css/style.css')}}" rel="stylesheet">
    <link href="{{ asset('css/sidebar.css')}}" rel="stylesheet">

</head>

{% block body %}
    {% include 'backoffice/sidebar.html.twig' %}

    <div class="content-page">
    <div class="display-container">
        <div class="image-preview" id="image-preview">

        </div>

        <div class="container-form">

            {{ form_start(form, {'attr': {'class': 'produit-form'}}) }}

            <div class="nom-container">
                <div class="label-nom">
                    {{ form_label(form.nom) }}
                </div>
                <div class="mb-3">
                    {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.nom) }}
                </div>
            </div>

            <div class="prix-container">
                <div class="label-prix">{{ form_label(form.prixUnitaire) }}</div>
                <div class="mb-3">
                    {{ form_widget(form.prixUnitaire, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.prixUnitaire) }}
                </div>
            </div>

            <div class="description-container">
                <div class="label-description">
                    {{ form_label(form.description) }}
                </div>
                <div class="mb-3">
                    {{ form_widget(form.description, {'attr': {'class': 'form-text-area'}}) }}
                    {{ form_errors(form.description) }}
                </div>
            </div>

            <div class="categorie-container">
                <div class="label-categorie">
                    {{ form_label(form.categorie) }}
                </div>
                <div class="mb-3">
                    {{ form_widget(form.categorie, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.categorie) }}
                </div>
            </div>

            <div class="image-label">
                image
            </div>
            <div class="produit-image-container">
                <div class="produit-image-upload">
                    {# bug
                <input type="file" id="image-upload" name="{{ form.urlImageProduit.vars.full_name }}" class="form-image"> #}

                    {{ form_widget(form.urlImageProduit, {'attr': {'class': 'form-image', 'type': 'file', 'id': 'image-upload'}}) }}
                    {{ form_errors(form.urlImageProduit) }}
                </div>
            </div>

            <div class="mb-3">
                {{ form_widget(form.save, {'attr': {'class': 'submit-button'}}) }}
            </div>

            {{ form_end(form) }}

        </div>
    </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('image-upload').addEventListener('change', function(event) {
                const file = event.target.files[0];
                const preview = document.getElementById('image-preview');

                if (file) {
                    const reader = new FileReader();

                    reader.onload = function(e) {
                        preview.style.backgroundImage = `url(${e.target.result})`;
                        preview.style.backgroundSize = 'cover';
                        preview.style.backgroundPosition = 'center';
                        preview.innerHTML = '';
                    };

                    reader.readAsDataURL(file);
                } else {
                    preview.style.backgroundImage = '';
                    preview.innerHTML = 'Preview';
                }
            });
        });
    </script>

{% endblock %}


