<h1>Modifier le Stock</h1>

{{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.quantite) }}
        {{ form_widget(form.quantite, { 'attr': { 'class': 'form-control' } }) }}
    </div>

    <div class="form-group">
        {{ form_label(form.entrepot) }}
        {{ form_widget(form.entrepot, { 'attr': { 'class': 'form-control' } }) }}
    </div>

    <div class="form-group">
        {{ form_label(form.fournisseurs) }}
        {{ form_widget(form.fournisseurs, { 'attr': { 'class': 'form-control' } }) }}
    </div>

    <button type="submit" class="btn btn-primary">{{ form.save.vars.label }}</button>
{{ form_end(form) }}
