{% extends 'base.html.twig' %}

{% block title %}Créer un nouvel Entrepôt{% endblock %}

{% block body %}
    <h1>Créer un nouvel Entrepôt</h1>

    {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.nom, 'Nom de l\'entrepôt') }}
            {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.adresse, 'Adresse') }}
            {{ form_widget(form.adresse, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.responsable, 'Responsable') }}
            {{ form_widget(form.responsable, {'attr': {'class': 'form-control'}}) }}
        </div>
        <button type="submit" class="btn btn-success">Créer</button>
    {{ form_end(form) }}

    <a href="{{ path('entrepot_index') }}" class="btn btn-secondary">Retour à la liste</a>
{% endblock %}